<form id="cycling-form" role="form" {{action 'save' model on="submit" }}>
    {{message-component successMessages=successMessages errorMessages=errorMessages}}
    <div class="row cycling-toolbar" >
        <button type="button" class="btn btn-default" type="submit" disabled={{disabled}}>Speichern</button>
        {{#unless isNew}}
            <button type="button" class="btn btn-default" {{action 'edit'}} disabled={{editDisabled}}>Ändern</button>
        {{/unless}}
    </div>
    <div class="row">
        <fieldset>
            <div class="col-xs-12">
                <h4><i class="fa fa-calendar"></i> Datum</h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    {{bootstrap-datepicker value=model.date class="form-control validate" name="date" format="dd.mm.yyyy" weekStart=1 disabled=disabled}}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset>
            <div class="col-xs-12">
                <h4><i class="fa fa-road"></i> Tour</h4>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="totalKm"> Strecke gesamt [km]:</label>
                    {{input type="text"  value=model.totalKm class="form-control validate" name="totalKm" disabled=disabled}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="avgSpeed">Geschwindigkeit Durchschn. [km/h]:</label>
                    {{input type="text"  value=model.avgSpeed class="form-control validate" name="avgSpeed" disabled=disabled}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="topSpeed">Geschwindigkeit Spitze [km/h]:</label>
                    {{input type="text"  value=model.topSpeed class="form-control validate" name="topSpeed" disabled=disabled}}
                </div>
            </div>
        </fieldset>
    </div>
    <!-- ./row -->
    <div class="row">
        <div class="col-xs-12">
            <h4><i class="fa fa-clock-o"></i> Zeiten</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
                <label for="totalTime">Zeit gesamt [hh:mm:ss]:</label>
                {{input type="text" value=model.totalTime class="form-control validate" name="totalTime" disabled=disabled}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
                <label for="time20"> Zeit 20km [hh:mm:ss]:</label>
                {{input type="text"  value=model.time20 class="form-control validate" name="time20" disabled=disabled}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
                <label for="time30"> Zeit 30km [hh:mm:ss]:</label>
                {{input type="text"  value=model.time30 class="form-control validate" name="time30" disabled=disabled}}
            </div>
        </div>
    </div><!-- ./row -->
    <div class="row">
        <div class="col-xs-12">
            <h4><i class="fa fa-sun-o"></i> Wetter</h4>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="condition" style="font-family:'weathericons'">Bedingungen:</label>
                        <select class="selectpicker condition form-control" name="condition" disabled={{disabled}}>
                            <option value="Sonnig" data-content="<i class='wi wi-day-sunny'><span class='option-text'>Sonnig</span></i>"></option>
                            <option value="Leicht bewölkt" data-content="<i class='wi wi-day-cloudy'><span class='option-text'>Leicht bewölkt</span></i>">Leicht bewölkt</option>
                            <option value="Leicht bewölkt / Regen" data-content="<i class='wi wi-rain-mix'><span class='option-text'>Leicht bewölkt / Regen</span></i>">Leicht bewölkt / Regen</option>
                            <option value="Bewölkt" data-content="<i class='wi wi-cloud'><span class='option-text'>Bewölkt</span></i>">Bewölkt</option>
                            <option value="Bewölkt / Regen" data-content="<i class='wi wi-showers'><span class='option-text'>Bewölkt / Regen</span></i>">Bewölkt / Regen</option>
                            <option value="Regen" data-content="<i class='wi wi-rain'><span class='option-text'>Regen</span></i>">Regen</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="temperature">Temperatur:</label>
                        {{input type="text" value=model.temperature class="form-control validate" name="temperature" disabled=disabled}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="windDirection">Windrichtung:</label>
{{!--                         {{input type="text"  value=model.windDirection class="form-control validate" name="windDirection" disabled=disabled}} --}}
                        <select class="selectpicker windDirection form-control" name="windDirection" disabled={{disabled}}>
                            <option value="Nord" data-content="<i class='wi wi-wind from-0-deg'></i><span class='option-text'>Nord</span>"></option>
                            <option value="Nord-Ost" data-content="<i class='wi wi-wind from-45-deg'></i><span class='option-text'>Nord-Ost</span>"></option>
                            <option value="Ost" data-content="<i class='wi wi-wind from-90-deg'></i><span class='option-text'>Ost</span>"></option>
                            <option value="Süd-Ost" data-content="<i class='wi wi-wind from-135-deg'></i><span class='option-text'>Süd-Ost</span>"></option>
                            <option value="Süd" data-content="<i class='wi wi-wind from-180-deg'></i><span class='option-text'>Süd</span>"></option>
                            <option value="Süd-West" data-content="<i class='wi wi-wind from-225-deg'></i><span class='option-text'>Süd-West</span>"></option>
                            <option value="West" data-content="<i class='wi wi-wind from-270-deg'></i><span class='option-text'>West</span>"></option>
                            <option value="Nord-West" data-content="<i class='wi wi-wind from-315-deg'></i><span class='option-text'>Nord-West</span>"></option>
                        </select>
                    </div>
                </div>
            </div><!-- ./row -->
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="windStrength"> Windstärke:</label>
                        {{input type="text"  value=model.windStrength class="form-control validate" name="windStrength" disabled=disabled}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="windSpeed">Windgeschwindigkeit:</label>
                        {{input type="text" value=model.windSpeed class="form-control validate" name="windSpeed" disabled=disabled}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="windBlasts">Böen:</label>
                        {{input type="text" value=model.windBlasts class="form-control validate" name="windBlasts" disabled=disabled}}
                    </div>
                </div>
            </div><!-- ./row -->
            <div class="row">
                <div class="col-xs-12">
                    <h4><i class="fa fa-pencil"></i> Beschreibung</h4>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="form-group">
                        {{textarea value=model.description class="form-control validate" name="description" disabled=disabled}}
                    </div>
                </div>
            </div><!-- ./row -->
        </div>
    </div><!-- ./row -->
    <div class="row">
        <div class="col-xs-12">
            {{#if model.createdBy}}
                <p class="cycling-createdBy">
                    <span>Erstellt am </span>{{format-datetime model.createdAt}} <span> von </span> {{model.createdBy.username}}.
                </p>
            {{/if}}
            {{#if model.modifiedBy}}
                <p class="cycling-modifiedBy">
                    <span>Zuletzt geändert am </span>{{format-datetime model.modifiedAt}} <span> von </span> {{model.modifiedBy.username}}.
                </p>
            {{/if}}
        </div>
    </div><!-- ./row -->
</form>