<form id="cycling-form" role="form" {{action 'save' model on="submit" }}>
    {{message-component successMessages=successMessages errorMessages=errorMessages}}
    <div class="row cycling-new-toolbar" >
        <button type="button" class="btn btn-default" type="submit">Speichern</button>
    </div>
    <div class="row">
        <fieldset>
            <div class="col-xs-12">
                <h4><i class="fa fa-calendar"></i> Datum</h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    {{bootstrap-datepicker value=model.date class="form-control validate" name="date" format="dd.mm.yyyy" weekStart=1}}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset>
            <div class="col-xs-12">
                <h4><i class="fa fa-road"></i> Tour</h4>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="totalKm"> Strecke gesamt [km]:</label>
                    {{input type="text"  value=model.totalKm class="form-control validate" name="totalKm"}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="avgSpeed">Geschwindigkeit Durchschn. [km/h]:</label>
                    {{input type="text"  value=model.avgSpeed class="form-control validate" name="avgSpeed"}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="topSpeed">Geschwindigkeit Spitze [km/h]:</label>
                    {{input type="text"  value=model.topSpeed class="form-control validate" name="topSpeed"}}
                </div>
            </div>
        </fieldset>
    </div>
    <!-- ./row -->
    <div class="row">
        <div class="col-xs-12">
            <h4><i class="fa fa-clock-o"></i> Zeiten</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
                <label for="totalTime">Zeit gesamt [hh:mm:ss]:</label>
                {{input type="text" value=model.totalTime class="form-control validate" name="totalTime"}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
                <label for="time20"> Zeit 20km [hh:mm:ss]:</label>
                {{input type="text"  value=model.time20 class="form-control validate" name="time20"}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
                <label for="time30"> Zeit 30km [hh:mm:ss]:</label>
                {{input type="text"  value=model.time30 class="form-control validate" name="time30"}}
            </div>
        </div>
    </div>
    <!-- ./row -->
    <div class="row">
        <div class="col-xs-12">
            <h4><i class="fa fa-sun-o"></i> Wetter</h4>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="condition"> Bedingungen:</label>
                        {{input type="text"  value=model.condition class="form-control validate" name="condition"}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="temperature">Temperatur:</label>
                        {{input type="text" value=model.temperature class="form-control validate" name="temperature"}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="windDirection"> Windrichtung:</label>
                        {{input type="text"  value=model.windDirection class="form-control validate" name="windDirection"}}
                    </div>
                </div>
            </div>
            <!-- ./row -->
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="windStrength"> Windstärke:</label>
                        {{input type="text"  value=model.windStrength class="form-control validate" name="windStrength"}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="windSpeed">Windgeschwindigkeit:</label>
                        {{input type="text" value=model.windSpeed class="form-control validate" name="windSpeed"}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="windBlasts">Böen:</label>
                        {{input type="text" value=model.windBlasts class="form-control validate" name="windBlasts"}}
                    </div>
                </div>
            </div>
            <!-- ./row -->
            <div class="row">
                <div class="col-xs-12">
                    <h4><i class="fa fa-pencil"></i> Beschreibung</h4>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="form-group">
                        {{textarea value=model.description class="form-control validate" name="description"}}
                    </div>
                </div>
            </div>
            <!-- ./row -->
        </div>
    </div>
</form>