<div id="cycling-statistics">
    <div id="overall-statistic" class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Gesamtstatistik</h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <p><strong>Gefahrene Touren: </strong><br>
                            {{statistic.overallStatistics.count}}</p>
                        </div>
                            <div class="col-lg-4">
                            <p><strong>Insgesamt gefahrene Kilometer: </strong><br>
                            {{format-decimal statistic.overallStatistics.overallTotalKm}}<span class="unit">km</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p><strong>Ø Kilometer: </strong><br>
                            {{format-decimal statistic.overallStatistics.overallAvgTotalKm}}<span class="unit">km</span></p>
                        </div>
                        <div class="col-lg-4">
                            <p><strong>Ø Spitze: </strong><br>
                            {{format-decimal statistic.overallStatistics.overallAvgTopSpeed}}<span class="unit">km/h</span></p>
                        </div>
                        <div class="col-lg-4">
                            <p><strong>Ø Schnitt: </strong><br>
                            {{format-decimal statistic.overallStatistics.overallAvgAvgSpeed}}<span class="unit">km/h</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-three-statistic row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Top 3: Geschwindigkeit Spitze</h6>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead><th>#</th><th>Geschwindigkeit</th><th>Datum</th><th></th></thead>
                        <tbody>
                            {{#each statistic.bestTopSpeeds as |el index|}}
                                <tr>
                                    <td>{{increment-index index}}</td>
                                    <td>{{el.topSpeed}}<span class="unit">km/h</span></td>
                                    <td>{{format-date el.date}}</td>
                                    <td><a href="#/cycling/{{el.id}}"><i class="fa fa-info"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Top 3: Geschwindigkeit Durchschn.</h6>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead><th>#</th><th>Geschwindigkeit</th><th>Datum</th><th></th></thead>
                        <tbody>
                            {{#each statistic.bestAvgSpeeds as |el index|}}
                                <tr>
                                    <td>{{increment-index index}}</td>
                                    <td>{{el.avgSpeed}}<span class="unit">km/h</span></td>
                                    <td>{{format-date el.date}}</td>
                                    <td><a href="#/cycling/{{el.id}}"><i class="fa fa-info"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Top 3: Strecke gesamt</h6>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead><th>#</th><th>Gesamtstrecke</th><th>Datum</th><th></th></thead>
                        <tbody>
                            {{#each statistic.bestTotalKms as |el index|}}
                                <tr>
                                    <td>{{increment-index index}}</td>
                                    <td>{{el.totalKm}}<span class="unit">km</span></td>
                                    <td>{{format-date  el.date}}</td>
                                    <td><a href="#/cycling/{{el.id}}"><i class="fa fa-info"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- ./row -->
    <div class="top-three-statistic row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Top 3: Zeit 20km</h6>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead><th>#</th><th>Zeit</th><th>Ø km/h</th><th>Datum</th><th></th></thead>
                        <tbody>
                            {{#each statistic.bestTime20 as |el index|}}
                                <tr>
                                    <td>{{increment-index index}}</td>
                                    <td>{{el.time20}}</td>
                                    <td>{{format-decimal el.avgSpeed20}}</td>
                                    <td>{{format-date el.date}}</td>
                                    <td><a href="#/cycling/{{el.id}}"><i class="fa fa-info"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">Top 3: Zeit 30km</h6>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead><th>#</th><th>Zeit</th><th>Ø km/h</th><th>Datum</th><th></th></thead>
                        <tbody>
                            {{#each statistic.bestTime30 as |el index|}}
                                <tr>
                                    <td>{{increment-index index}}</td>
                                    <td>{{el.time30}}</td>
                                    <td>{{format-decimal el.avgSpeed30}}</td>
                                    <td>{{format-date el.date}}</td>
                                    <td><a href="#/cycling/{{el.id}}"><i class="fa fa-info"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- ./row -->
    <div class="row">
    {{#each statistic.yearStatistics as |year|}}
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">{{year.year}}
                        <span class="pull-right">
                            <a href="#/cycling/list?{{query-params-year year.year}}"><i class="fa fa-info"></i></a>
                        </span>
                    </h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <p><strong>Gefahrene Touren: </strong><br>
                            {{year.count}}</p>
                        </div>
                        <div class="col-lg-6">
                            <p><strong>Gesamtkilometer: </strong><br>
                            {{format-decimal year.totalKmOfYear}}<span class="unit">km</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p><strong>Ø Kilometer: </strong><br>
                            {{format-decimal year.avgTotalKmOfYear}}<span class="unit">km</span></p>
                        </div>
                        <div class="col-lg-4">
                            <p><strong>Ø Spitze: </strong><br>
                            {{format-decimal year.avgTopSpeedOfYear}}<span class="unit">km/h</span></p>
                        </div>
                        <div class="col-lg-4">
                            <p><strong>Ø Schnitt: </strong><br>
                            {{format-decimal year.avgAvgSpeedOfYear}}<span class="unit">km/h</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>