<div id="cycling-chart">
    <div id="top-three-statistic" class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Top 3: Geschwindigkeit Spitze</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead><th>#</th><th>Geschwindigkeit</th><th>Datum</th><th>Details</th></thead>
                        <tbody>
                            {{#each statistic.topSpeeds as |el index|}}
                                <tr>
                                    <td>{{increment-index index}}</td>
                                    <td>{{el.topSpeed}}</td>
                                    <td>{{format-date el.date}}</td>
                                    <td><a href="#/cycling/{{el.id}}"><i class="fa fa-info"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Top 3: Geschwindigkeit Durchschn.</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead><th>#</th><th>Geschwindigkeit</th><th>Datum</th><th>Details</th></thead>
                        <tbody>
                            {{#each statistic.avgSpeeds as |el index|}}
                                <tr>
                                    <td>{{increment-index index}}</td>
                                    <td>{{el.avgSpeed}}</td>
                                    <td>{{format-date el.date}}</td>
                                    <td><a href="#/cycling/{{el.id}}"><i class="fa fa-info"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Top 3: Strecke gesamt</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead><th>#</th><th>Gesamtstrecke</th><th>Datum</th><th>Details</th></thead>
                        <tbody>
                            {{#each statistic.totalKms as |el index|}}
                                <tr>
                                    <td>{{increment-index index}}</td>
                                    <td>{{format-date  el.date}}</td>
                                    <td>{{el.totalKm}}</td>
                                    <td><a href="#/cycling/{{el.id}}"><i class="fa fa-info"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{cycling-chart data=content}}
        </div>
    </div>
</div>